@import "colors.scss";

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: #101223 1.5px solid;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: $primary-purple;
}
