.container {
  display: block;
  position: relative;
  padding-left: 40px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-size: var(--size-font-footer1);
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: #afafb1 1.5px solid;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: #8b8bf4;
}
