@import "~bulma/sass/utilities/mixins.sass";

.dropdown_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown_button {
  background: transparent url("../../../public/unfold_button_black.svg")
    no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 40px;
  transition: transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
}

.content {
  padding: 12px 0 12px 0;
  line-height: 30px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s ease-out;
  -webkit-transition: opacity 0.5s, max-height 0.5s ease-out;

  h5 {
    margin-bottom: 1em !important;
  }

  @include tablet {
    line-height: 37px;
    padding: 12px 0;
  }
}

.active {
  opacity: 1;
  // TODO investigate how this works remove constant
  max-height: 100%;
  transition: opacity 0.7s, max-height 0.7s ease-in;
  -webkit-transition: opacity 0.7s, max-height 0.7s ease-in;
}

.purple {
  color: #8b8de5;
}
