@import "~bulma/sass/utilities/mixins.sass";

.dropdown_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.dropdown_button {
  background: transparent;
  background-image: url("../../../public/unfold_button_black.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 1;
  border-radius: 40px;
  transition: transform 0.4s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}

.content {
  line-height: 37px;
  margin-top: 15px;

  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s, opacity 0.4s, visibility 0.4s ease;

  @include tablet {
    margin-bottom: 25px;
  }
}

.active {
  opacity: 1;
  max-height: 2500px;
  transition: max-height 0.7s, opacity 1s, visibility 1s ease;
  height: auto;
  visibility: visible;
}

.purple {
  color: #8b8de5;
}
