.exit_bt {
  width: 50px;
  height: 50px;
  background: #9ebe38;
  border: hidden;
  border-radius: 40px;
  bottom: 30px;
  right: 30px;
  color: white;
  position: fixed;
  font-size: 25px;
  filter: drop-shadow(2px 2px 6px rgba(104, 160, 5, 0.2));
}
