.footer {
  background-color: #8d8bf4;
  padding: 100px 44px 63px 44px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  color: white;

  & a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    line-height: 18px;
  }
}

.links_container1 {
  display: flex;
  width: 100%;
  gap: 60px;
  justify-content: center;
  padding-top: 30px;
}

.row_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1px;
  & a {
    font-size: 14px;
    font-weight: 400;
    width: 30%;
  }
  & b {
    width: 30%;
  }
}

.column_container {
  gap: 16px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.icons_container {
  padding-top: 37px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.invert_color {
  filter: brightness(0) invert(1);
}

.links_container2 {
  padding-top: 30px;
  width: 100%;
  & a {
    width: 50%;
    font-family: "Maitree", serif;
  }
}
