.footer {
  background-color: #a1bbff;
  padding: 100px 20px 45px 20px;
  display: flex;
  font-size: var(--size-font-footer1);
  flex-direction: column;
  align-items: center;
  color: var(--color-font);
  font-family: "Lato", sans-serif;

  & h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.links_container1 {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
}

.row_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  & a {
    width: 30%;
    line-height: 19px;
  }
}

.icons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  gap: 20px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.support {
  margin-top: 30px;
  margin-bottom: 35px;
  padding: 15px 15px;
  background-color: #86aaff;
  border-radius: 20px;
  width: 100%;
  & img {
    filter: brightness(0) invert(1);
  }

  & b {
    line-height: 19px;
  }
  & p {
    font-size: var(--size-font-footer2);
    line-height: 23px;
  }
  & :nth-child(3) {
    font-size: var(--size-font-footer4);
    line-height: 18px;
  }
}

.links_container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-bottom: 32px;
  & a {
    width: 30%;
    font-weight: 400;
  }

  & p {
    width: 30%;
  }
}

.last_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: var(--size-font-footer3);
}

.desktop_container {
  padding-top: 60px;
  padding-bottom: 120px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.column_desktop {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 7px;
}
