@use "Button.module";
@import "~bulma/sass/utilities/mixins.sass";

.headline {
  font-family: "Lato", sans-serif;
  color: #101223;
  line-height: 24px;
  padding-top: 37px;
  letter-spacing: 0.02em;
  @include tablet {
    margin-top: 18px;
  }
}

.button_container {
  padding-top: 74px;
  display: flex;
  justify-content: center;
  @include tablet {
    justify-content: flex-start;
  }
}

.checkbox_wrapper {
  padding-top: 25px;
  display: flex;
}

.long_label {
  flex-direction: column;
  gap: 1rem !important;
}
