@use "Button.module";
@import "~bulma/sass/utilities/mixins.sass";

.headline {
  color: #101223;
  line-height: 24px;
  padding-top: 37px;
  letter-spacing: 0.02em;
  font-size: 1.05rem;
  font-family: "Avenir", serif;
  @include tablet {
    margin-top: 18px;
  }
}

.button_container {
  padding-top: 74px;
  display: flex;
  justify-content: center;
}

.checkbox_wrapper {
  display: flex;
  flex-wrap: wrap;

  label {
    margin-top: 1.5rem;
    min-width: 50%;

    @include tablet {
      min-width: 33%;
    }
  }
}
