@use "Button.module";
@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.headline {
  color: $primary-purple;
  line-height: 24px;
  font-size: 16px;
  padding-top: 5px;
  font-weight: 600;
  font-family: "Avenir", serif;
}

.number {
  font-family: "Wulkan", serif;
  font-weight: 400;
  font-size: 32px;
  color: $primary-purple;
  line-height: 24px;
  margin-right: 24px;
}

.button_container {
  padding-top: 50px;
  display: flex;
  width: 87%;
  margin-left: 35px;

  @include tablet {
    width: 260px;
  }
}

.checkbox_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 35px;

  label {
    margin-top: 15px;
    min-width: 40%;
    font-size: 16px !important;

    @include tablet {
      min-width: 0;
      margin-right: 60px;
    }
  }
}

.disabled {
  background-color: #a6a6f5;
}
