@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.container {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  line-height: 20px;

  a {
    color: #101223;
  }

  @include tablet {
    margin: 0 1rem 0 auto;
  }
}

.selected {
  color: $primary-purple;
  border-bottom: 1px solid;
}
