.nav_container {
  position: fixed;
  height: 76px;
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.1));
}

.nav_background {
  background-color: #a1bbff;
  opacity: 1;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  font-size: 17px;
}

.navbar .menu_items {
  display: flex;
}

.navbar .nav_container li {
  list-style: none;
}

.navbar .nav_container a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 0.7rem;
}

.navbar .nav_container a:hover {
  font-weight: bolder;
}

.nav_container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 34px;
  right: 45px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav_container .hamburger_lines {
  display: block;
  height: 16px;
  width: 21px;
  position: absolute;
  top: 34px;
  right: 45px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: 30px;
  left: 45px;
  z-index: 1;
  cursor: pointer;
}

.nav_container .hamburger_lines .line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.nav_container .hamburger_lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav_container .hamburger_lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav_container .hamburger_lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu_items {
  margin-top: 76px;
  padding-top: 120px;
  background-color: white;
  height: 100vh;
  width: 100vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu_items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav_container input[type="checkbox"]:checked ~ .menu_items {
  transform: translateX(0);
}

.nav_container input[type="checkbox"]:checked ~ .hamburger_lines .line1 {
  transform: rotate(44deg);
}

.nav_container input[type="checkbox"]:checked ~ .hamburger_lines .line2 {
  transform: scaleY(0);
}

.nav_container input[type="checkbox"]:checked ~ .hamburger_lines .line3 {
  transform: rotate(-44deg);
}

.nav_container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
