.headline {
  font-family: "Lato", sans-serif;
  color: #101223;
  font-weight: 700;
  line-height: 23px;
  font-size: var(--size-font-paragraph-title);
}

.checkbox_wrapper {
  padding-top: 25px;
  display: flex;
}
