.button {
  background: transparent;
  width: 250px;
  border-radius: 40px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 17px;
  padding: 12px 17px 12px 22px;
  cursor: pointer;
}

.purple {
  border: 1.5px solid #8d8bf4;
  color: #8d8bf4;

  &:active {
    background: #8b8bf4;
    color: white;
  }
}

.white {
  border: 1.5px solid white;
  color: white;
  &:active {
    background: white;
    color: #8b8bf4;
  }
}

.purple_full {
  min-height: 50px;
  border: none;
  background: #8b8bf4;
  color: white;
}

.green_full {
  min-height: 50px;
  border: none;
  background: #68a005;
  color: white;
  font-size: 13px !important;
  letter-spacing: 0.02rem;
  padding: 12px 22px 12px 27px;
}
