@import "~bulma/sass/utilities/mixins.sass";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.white {
    padding: 105px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 37px;

    & h1 {
      font-family: "Lato", sans-serif;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 30px;
    }
    & h2 {
      font-family: "Lato", sans-serif;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 30px;
      margin-top: 140px;
    }

    & h3 {
      margin-bottom: 45px;
    }

    & h4 {
      margin-bottom: 140px;
      @include tablet {
        display: none;
      }
    }

    @include tablet {
      padding: 150px 350px;
      gap: 20px;

      & div:first-child div div {
        margin-bottom: 50px;
      }

      & > div:first-child {
        margin-bottom: 0;
      }
    }
  }

  &.white2 {
    padding: 0 45px 144px 45px;
    display: flex;
    flex-direction: column;

    & h2 {
      text-align: left;
      font-family: "Lato", sans-serif;
      font-size: 24px;
      line-height: 32px;
      margin-top: 105px;
      margin-bottom: 35px;
    }

    @include tablet {
      padding: 100px 350px;

      & > div:first-child {
        margin-bottom: 0;
      }
    }
  }

  &.gradient {
    display: block;
    padding: 100px 45px 100px 45px;
    background-color: #8d8bf4;
    color: white;
    min-height: 100vh;
    font-family: "Lato", sans-serif;

    & h1 {
      font-family: "Lato", sans-serif;
      font-size: 41px;
      line-height: 55px;
      text-align: center;
      margin-bottom: 55px;
    }

    & h2 {
      font-size: 32px;
      line-height: 43px;
    }
    & button {
      margin-top: 118px;
    }

    & p {
      line-height: 33px;
      padding-bottom: 15px;
    }
    & a {
      text-decoration: underline;
    }

    & div a:hover {
      color: white !important;
      text-decoration-color: white !important;
    }
    @include tablet {
      padding: 0px 350px;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      & h1 {
        font-size: 46px;
        line-height: 65px;
      }
    }
  }

  &.headline {
    min-height: 100vh;
    background-color: #8d8bf4;
    color: white;
    justify-content: flex-end;
    font-family: "Lato", sans-serif;
    & h1 {
      text-align: left;
      font-size: 41px;
    }
    & p {
      display: none;
    }
    & > div:first-child {
      padding: 0 40px 120px 40px;
    }

    @include tablet {
      padding: 0px 320px;
      align-items: center;
      justify-content: center;

      & > div:first-child {
        padding: 0;
      }

      & h1 {
        font-size: 48px;
        line-height: 65px;
        text-align: center;
      }
      & p {
        display: block;
        text-align: center;
        margin-top: 40px;
        font-family: "Maitree", serif;
      }
    }
  }
}
