.container {
  padding: 50px 45px 100px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #101223;
  line-height: 29px;

  & h1 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
  }

  &.white {
    background-color: #fff;
  }

  &.gradient {
    height: 100vh;
    background-image: url("/gradient.jpeg");
    background-size: cover;
    color: white;

    & h2 {
      font-weight: bold;
      font-size: 38px;
    }
    & p {
      line-height: 25px;
    }
    & a {
      padding: 5px;
      color: white;
      text-decoration: underline;
    }
  }
}
