.container {
  padding: 155px 45px 128px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #101223;
  line-height: 29px;
  font-size: 18px;

  & h1 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
  }

  &.white {
    padding: 50px 45px 160px 45px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 1.5rem;
      margin-top: 40px;
    }
    & h2 {
      font-size: 48px;
      line-height: 55px;
      text-align: center;
    }
    & h3 {
      font-size: 24px;
      text-align: center;
    }
    & div {
      margin-bottom: 10px;
    }
  }

  &.gradient {
    background-image: url("/gradient.jpeg");
    background-size: cover;
    color: white;
    font-family: "Lato", sans-serif;

    & h2 {
      font-weight: 500;
      font-size: 36px;
      padding-bottom: 15px;
    }
    & p {
      line-height: 25px;
      padding-bottom: 15px;
    }
    & a {
      text-decoration: underline;
      & :hover {
        color: white;
      }
    }
  }
  &.headline {
    height: 15rem;
    padding: 30px 45px 30px 45px;
    background-image: url("/gradient.jpeg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    & h1 {
      font-size: 36px;
    }
    & h2 {
      font-size: 24px;
      line-height: 32px;
    }
    & p {
      line-height: 25px;
      margin-top: 15px;
      font-size: 16px;
    }
  }
}
