@use "../src/components/static/Button.module.scss";
@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.container {
  padding: 28px 28px 35px 28px;
  border-radius: 20px;
  bottom: 15px;
  position: fixed;
  filter: drop-shadow(0.4px 0.5px 0.2px grey);
  width: 95%;
  color: #101223;
  background-color: white;
  z-index: 10;
  text-align: left;
  line-height: 27px;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;

  & h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  & p {
    color: $secondary-grey;
    line-height: 24px;
    font-size: 14px !important;
  }


  @include tablet {
    width: 370px;
    right: 25px;
    bottom: 25px;

    & p {
      text-align: left !important;
      line-height: 24px !important;
    }
  }
}

.button {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.language_switch {
  color: #d1d1d3;
  font-size: 14px;
  font-weight: 600;
  display: flex;

  & div {
    cursor: pointer;
  }
}

.selected {
  color: $primary-purple;
  border-bottom: 1px solid $primary-purple;
}

.underline {
}
