@use "../src/components/static/Button.module.scss";
@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.container {
  padding: 29px 30px 20px 30px;
  border-radius: 35px;
  bottom: 15px;
  position: fixed;
  width: 95%;
  color: #101223;
  background-color: white;
  z-index: 10;
  box-shadow: 2px 2px 2px $primary-purple;
  text-align: left;
  line-height: 27px;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;

  & h2 {
    color: $primary-purple;
    font-size: 24px;
  }

  & p {
    line-height: 24px;
    font-size: 14px !important;
  }

  button {
    width: 150px !important;
  }

  @include tablet {
    width: 370px;
    right: 25px;
    bottom: 25px;

    & p {
      text-align: left !important;
      line-height: 24px !important;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.language_switch {
  color: #d1d1d3;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  & div {
    cursor: pointer;
  }
}

.selected {
  color: $primary-purple;
}
