@use "../src/components/static/Button.module.scss";
@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding: 21px;
  display: flex;
  align-items: flex-end;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  padding: 29px 30px 20px 30px;
  border-radius: 35px;
  background-color: white;
  box-shadow: 2px 2px 2px $primary-purple;
  z-index: 10;
  text-align: left;
  line-height: 24px;
  font-size: 14px !important;
  margin-bottom: 30%;
  letter-spacing: 0.02em;

  @include tablet {
    position: fixed;
    margin-bottom: 0;
    width: 32%;
    right: 120px;

    button {
      width: 230px !important;
    }
  }
}

.purple_p {
  color: $primary-purple;
  text-align: center;
  padding: 15px 30px 0 30px !important;
  cursor: pointer;
  line-height: 24px;
}
