@use "../Button.module.scss";
@import "~bulma/sass/utilities/mixins.sass";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
  padding: 21px;
  display: flex;
  align-items: center;

  @include tablet {
    margin-top: 55px;
    justify-content: center;
  }
}

.darkBackground {
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  padding: 15px 35px 25px 35px;
  width: 100%;
  color: #101223;
  background-color: white;
  box-shadow: 2px 2px 2px #8d8bf4;
  border-radius: 35px;
  line-height: 24px !important;
  font-family: "Lato", sans-serif !important;
  font-size: 15px;
  text-align: left !important;

  & h2 {
    font-size: 22px !important;
    line-height: 33px !important;
    margin: 0 !important;
    text-align: left !important;
  }

  & input[type="radio"] {
    display: none;
  }

  & textarea {
    padding: 10px 13px;
    border: #afafb1 1.5px solid;
    border-radius: 13px;
    width: 100%;
    min-height: 100px;
    resize: none;
    font-size: 13px;
  }

  & button {
    margin: 0 !important;
  }
  @include tablet {
    width: 380px;
    margin: 50px;
  }
}

.checkbox_wrapper {
  display: flex;
  flex-wrap: wrap;

  label {
    margin-top: 12px;
    width: 50%;
  }
}

.star {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: color 200ms;
}

.empty {
  background-image: url("../../../../public/star_empty.svg");
}

.full {
  background-image: url("../../../../public/star_full.svg");
}
.container {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  text-align: center;
  margin-top: 16px;
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background-color: #8d8bf4;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
