@use "../Button.module.scss";
@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  padding: 21px;
  display: flex;
  align-items: center;

  @include tablet {
    justify-content: center;
  }
}

.content {
  padding: 24px 28px 39px 28px;
  width: 100%;
  background-color: white;
  filter: drop-shadow(0.4px 0.5px 0.2px grey);
  border-radius: 20px;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;

  b {
    color: $secondary-grey;
    cursor: pointer;
    font-size: 22px;
  }

  & h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 32px;
  }

  @include tablet {
    padding: 24px 32px 41px 32px;
    width: 390px;
    text-align: left;
    font-size: var(--size-font-footer1);
  }
}

#safety_p1 {
  color: $secondary-grey;
}

.container {
  flex-direction: column;
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    font-size: 14px;
    line-height: 20px;
    width: 250px;
    margin-left: 14px;
  }
}

.purple_text {
  color: $primary-purple !important;
  font-weight: 600;
  padding-left: 5px;
}
