@import "~bulma/sass/utilities/mixins.sass";

.legal {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 45px 200px 45px;
  background-color: #8b8bf4;
  line-height: 29px;
  color: var(--color-font);

  p {
    margin: 0 !important;
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3rem;
    @include tablet {
      font-size: 36px;
      line-height: 48px;
    }
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  @include tablet {
    padding: 110px 230px;
    line-height: 32px;
  }
}
