.landing_page {
  padding: 140px 45px 50px 45px;
  height: 95vh;
  background-image: url("../public/background.jpeg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.color_page {
  padding: 0 45px 0 45px;
  height: 80vh;
  background-image: url("../public/background.jpeg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 43px;
}

.main_title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 58px;
  line-height: 76px;
  color: white;
}

.white_page {
  padding: 50px 45px 100px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Maitree", serif;

  & a {
    text-decoration: underline;
  }
}

.description {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 26.4px;
  font-weight: bold;
}

.green {
  color: #9ebe38;
}

.red {
  color: #f40808;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  line-height: 46px;
  font-weight: bold;
  color: white;
}

.color_page_last {
  padding: 0 45px 0 45px;
  height: 80vh;
  background-image: url("../public/background.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white_btn {
  width: 160px;
  background-color: transparent;
  border-radius: 40px;
  padding: 8px;
  border: 2px solid white;
  margin-top: 25px;

  & a {
    color: white !important;
    font-size: 13px;
    font-family: "Lato", sans-serif;
  }
}
