@import "~bulma/sass/utilities/mixins.sass";

.gradient_page {
  padding: 0 45px;
  height: 100vh;
  background-color: #8d8bf4;
  color: var(--color-font);
  line-height: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .landing_page_container {
    z-index: 2;
    max-width: 567px;
    font-family: "Wulkan", serif;
    font-weight: bold;
    font-size: 24px;

    img {
      margin-bottom: 3rem;
      width: 90%;
      height: auto;
    }
  }

  @include tablet {
    p {
      line-height: 36px;
      text-align: center;
    }

    h1 {
      text-align: left;
      font-size: 50px;
      line-height: 63px;
    }
  }
  @include desktop {
    padding: 0px 250px;
  }
}

.language_wrapper {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  font-weight: normal !important;
  z-index: 2;
}

.language_switch {
  display: flex;
  & div {
    cursor: pointer;
    color: var(--color-font);
  }
}

.underlined {
  border-bottom: 1.5px solid var(--color-font);
}

.find_help {
  padding: 110px 35px 110px 35px;

  & h1 {
    font-size: 24px;
    line-height: 43px;
    font-weight: bold;
    color: #5353e9;
    letter-spacing: 0.02em;

    @include tablet {
      font-size: 34px;
      margin-bottom: 48px;
    }
  }

  @include desktop {
    padding: 105px 102px 100px 481px;
    min-height: 100vh;
  }
}

.white_page {
  padding: 150px 35px 110px 35px;
  min-height: 100vh;
  line-height: 29px;
  font-size: 18px;

  & h1 {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #5353e9;
    @include tablet {
      font-size: 47px;
      line-height: 64px;
    }
  }

  @include desktop {
    padding: 105px 102px 100px 481px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.btn_container {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 7.5px 0;
  }

  @include tablet {
    flex-direction: row;
    justify-content: center;

    button {
      margin: 0 15px;
    }
  }
}

.blue_section {
  padding: 110px 35px 110px 35px;
  background-color: #5353e9;
  color: white;
  height: 100vh;
  font-size: 34px;
  font-family: "Wulkan", serif;
  font-weight: bold;

  h1 {
    font-weight: bold;
  }

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      font-size: 18px;
      font-family: "Avenir";
      font-weight: normal;
    }
    h1 {
      font-size: 34px;
      margin-bottom: 16px;
    }
  }

  @include desktop {
    height: 400px;
    padding: 85px 250px;
  }
}
