@import "~bulma/sass/utilities/mixins.sass";

.gradient_page {
  padding: 0 45px;
  height: 100vh;
  line-height: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    color: #5353e9;
    font-size: 34px;
    font-weight: bold;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .landing_page_container {
    z-index: 2;
    max-width: 567px;
    font-family: "Wulkan", serif;
    font-weight: bold;
    font-size: 24px;

    img {
      margin-bottom: 3rem;
      width: 510px;
      height: auto;
    }
  }

  @include tablet {
    p {
      line-height: 36px;
      text-align: center;
    }

    h1 {
      text-align: left;
      font-size: 50px;
      line-height: 63px;
    }
  }
  @include desktop {
    padding: 0px 250px;
  }
}

.language_wrapper {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
}

.language_switch {
  display: flex;
  & div {
    cursor: pointer;
  }
}

.underlined {
  border-bottom: 1.5px solid;
}

.find_help {
  padding: 110px 35px 110px 35px;

  .container {
    background: linear-gradient(
      rgba(251, 251, 255, 0.77),
      0%,
      rgba(245, 250, 255, 0.34),
      54.95%,
      #f5faff,
      100%,
      #fbfbff 100%
    );

    border-radius: 20px;
    padding: 10px 18px 40px 20px;
    margin: 32px -18px 0 -18px;

    @include tablet {
      padding: 20px 0px 40px 40px;
      width: 610px;
      margin: 0;
    }
  }

  & h1 {
    font-size: 34px;
    line-height: 47px;
    font-weight: 400;
    color: #5353e9;
    letter-spacing: 0.02em;

    @include tablet {
      font-size: 50px;
      line-height: 64px;
    }
  }

  @include desktop {
    padding: 100px 0;
    padding-left: 24px;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    .container {
      grid-column-start: 23;
    }

    h1 {
      margin-top: 30px;
      grid-column: 2 / span 20;
    }
  }
}

.white_page {
  padding: 150px 35px 110px 35px;
  min-height: 100vh;
  line-height: 29px;
  font-size: var(--size-font-paragraph-headline);

  & h1 {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #5353e9;
    @include tablet {
      font-size: 47px;
      line-height: 64px;
    }
  }

  @include desktop {
    padding: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(24, 1fr);

    * {
      grid-column: 11 / span 13;
    }
  }
}

.btn_container {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 7.5px 0;
  }

  @include tablet {
    flex-direction: row;
    justify-content: center;

    button {
      margin: 0 15px;
    }
  }
}

.blue_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 35px;
  background-color: #5353e9;
  color: white;
  height: 100vh;
  font-size: 34px;
  line-height: 42px;
  font-family: "Wulkan", serif;
  font-weight: bold;

  h1 {
    font-weight: bold;
  }

  @include tablet {
    p {
      font-size: var(--size-font-paragraph-headline);
      font-family: "Avenir";
      font-weight: normal;
    }
    h1 {
      font-size: 34px;
      margin-bottom: 16px;
    }
  }

  @include desktop {
    height: 400px;
    padding: 85px 250px;
  }
}
