@use "../src/components/static/Button.module.scss";

@import url("https://fonts.googleapis.com/css2?family=Maitree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Maitree&display=swap");

.main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100vh;
}

.page_wrapper {
  scroll-snap-align: start;
}

.language_switch {
  display: flex;
  & div {
    cursor: pointer;
  }
}

.language_wrapper {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.introduction {
  &:nth-child(1) {
    color: var(--lou-color-text);
  }
}

.landing_page {
  padding: 0 45px;
  scroll-snap-align: start;
  height: 100vh;
  background-image: url("/gradient.jpeg");
  background-size: cover;
  color: white;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  font-family: "Maitree", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.color_page {
  padding: 100px 45px 170px 45px;
  background-image: url("/gradient.jpeg");
  background-position: 161% 73%;
  color: white;
}

.white_page_long {
  padding: 0 45px;
}

.white_page {
  padding: 100px 45px 170px 45px;
  color: #101223;
  & a {
    text-decoration: underline;
  }
}

.btn_container {
  padding-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 33px;
  line-height: 43px;
  color: black;
  padding: 119px 0 40px 0;
}

.title_white {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 33px;
  line-height: 43px;
  text-align: left;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 43px;
  color: #101223;
}

.description {
  font-size: 18px;
  padding-top: 25px;
  line-height: 29px;
}

.footer_wrapper {
  scroll-snap-align: end;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
