@use "../src/components/static/Button.module.scss";
@import "~bulma/sass/utilities/mixins.sass";

.landing_page {
  min-height: 100vh;
  padding: 130px 45px 128px 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 29px;
  position: relative;
  font-size: var(--size-font-paragraph-headline);

  @include tablet {
    justify-content: center;
  }

  & h1 {
    color: #5353e9;
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 24px;
  }

  & h2 {
    font-size: 24px;
    color: #5353e9;
    @include tablet {
      font-size: 46px;
      line-height: 65px;
    }
  }
  & a {
    color: #5353e9;
    font-weight: 400 !important;
    text-decoration: underline;
  }
  @include desktop {
    padding: 125px 0px 30px 0px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    h1 {
      margin: 0;
      width: 90%;
      line-height: 91px;
      font-size: 96px;
      grid-column: 3 / span 20;
    }
    div {
      grid-column: 10 / span 13;
    }

    h2 {
      font-size: 50px;
      line-height: 64px;
      grid-column: 10 / span 13;
    }
  }
}

.white_page_full {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #101223;
  letter-spacing: 0.02em;
  font-size: var(--size-font-paragraph-headline);
  padding: 0 45px;

  & h1 {
    font-size: var(--size-font-paragraph-headline);
    font-family: "Avenir", serif;
    font-weight: normal;
    margin-bottom: 45px;
  }

  @include tablet {
    justify-content: center;
    line-height: 30px;

    & h1 {
      font-family: "Wulkan", serif;
      font-size: 42px;
      line-height: 56px;
      color: #5353e9;
      margin-bottom: 24px;
      font-weight: bold;
    }
  }

  @include desktop {
    padding: 160px 0 210px 0;
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    * {
      grid-column: 10 / span 13;
    }
  }
}

.full_height {
  height: 100vh;
}

.headline_page {
  height: 15rem;
  padding: 30px 45px 30px 45px;
  background-image: url("/gradient.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-font);

  & h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
  }
}

.dropdown_wrapper {
  margin-top: 40px;
}

.warning {
  background-color: #5353e9;
  min-height: 100vh;
  padding: 158px 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-font);
  letter-spacing: 0.02em;
  font-size: var(--size-font-subheadline);

  & h1 {
    font-size: 34px;
    margin-bottom: 24px;
  }
  & button {
    margin-top: 110px;
  }

  @include tablet {
    & h1 {
      font-size: 46px;
      line-height: 65px;
    }

    & button {
      margin-top: 72px;
    }
  }
  @include tablet {
    h1 {
      font-size: 50px;
    }
  }

  @include desktop {
    height: 100vh;
    padding: 0px 250px;
    justify-content: center;
  }
}

.white_page {
  padding: 108px 45px 200px 45px;
  line-height: 29px;
  font-size: var(--size-font-paragraph-content);

  & h2 {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 25px;
    color: #5353e9;
  }
  & h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 105px 0;
  }
  & div button {
    margin-top: 65px;
  }

  @include tablet {
    & h1 {
      font-size: 46px;
      line-height: 65px;
    }

    & h2 {
      font-size: 50px;
      line-height: 64px;
      width: 80%;
    }

    & h3 {
      font-size: 46px;
      line-height: 65px;
      margin-top: 500px;
      margin-bottom: 50px;
    }
  }
  @include desktop {
    padding: 150px 250px;
    justify-content: center;
  }
}

.blue_page {
  background-color: #5353e9;
  color: #fff;
}
