.landing_page {
  padding: 50px 45px 50px 45px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Maitree", serif;
  color: #101223;
  & p {
    line-height: 29px;
  }
}
.white_page {
  padding: 50px 45px 100px 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Maitree", serif;
  color: #101223;

  & p {
    line-height: 29px;
  }
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 58px;
  line-height: 76px;
}

.color_page {
  height: 50vh;
  padding: 0px 0px 50px 45px;
  background-image: url("/gradient.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & h2 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: white;
  }
}
