@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.container {
  background-color: $light-bg;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  margin-top: 63px;
  padding: 40px 45px;
  color: $primary-purple;

  p {
    color: black;
  }

  & h3 {
    font-size: 26px;
  }

  @include tablet {
    padding-left: 85px;
    padding-right: 62px;

    & h2 {
      width: 100%;
      font-size: 30px;
      line-height: 50px;
    }
  }
}

.searchContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
}

.inputContainer {
  width: 100%;
}

.inputBar {
  background-color: transparent;
  position: absolute;
  right: 0;

  height: 50px;
  border-width: 2px;
  width: 100%;
  @include tablet {
    width: 180px;
  }
}

.searchResults {
  margin-top: 80px;
  @include desktop {
    padding: 0 100px 45px 250px;
  }
}

.notFound {
  margin-top: 110px;
  line-height: 33px;
  @include tablet {
    margin-top: 180px;
    text-align: center;
  }
}

.resultItem {
  margin-top: 50px;
  overflow-wrap: anywhere;
}

.itemBody {
  line-height: 30px;
  margin-top: 16px;
}
