@import "~bulma/sass/utilities/mixins.sass";

.container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  padding: 45px;
  @include tablet {
    padding: 0 350px;
    text-align: center;
  }
}

.searchContainer {
  width: 100%;
}
