@import "~bulma/sass/utilities/mixins.sass";

.container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  margin-top: 63px;
  padding: 40px 45px;

  & input {
    width: 300px;
    position: absolute;
    right: 0;
  }

  & h3 {
    font-size: 26px;
  }

  @include tablet {
    padding-left: 85px;
    padding-right: 62px;

    & h2 {
      font-size: 30px;
      line-height: 50px;
    }
  }
}

.searchContainer {
  width: 100%;
}

.searchResults {
  margin-top: 30px;
  @include tablet {
    padding: 0 250px 45px 250px;
  }
}

.notFound {
  margin-top: 110px;
  line-height: 33px;
  @include tablet {
    margin-top: 180px;
    text-align: center;
  }
}
