@import "~bulma/sass/utilities/mixins.sass";
@import "colors.scss";

.landing_page {
  padding: 160px 50px 120px 45px;
  height: 100vh;
  color: #101223;

  & h1 {
    color: $primary-purple;
    font-size: 32px;
    line-height: 48px;

    @include tablet {
      font-size: 47px;
      line-height: 65px;
    }
  }

  & h2 {
    color: $primary-purple;
    margin-top: 55px;
    font-size: 20px;

    @include tablet {
      font-size: 30px;
    }
  }
  & p {
    font-weight: 500;
    line-height: 22px;
  }
  & b {
    margin-top: 15px;
  }

  @include tablet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  @include desktop {
    padding: 170px 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    * {
      grid-column: 10 / span 13;
    }
  }
}

.checkbox_wraper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;

  & label {
    flex: 1;
  }
}

.settings_wrapper {
  display: flex;
  justify-content: space-between;

  label {
    margin-top: 5px;
  }
  @include tablet {
    width: 300px;
  }
}

.color_page {
  background: $primary-purple;
  padding: 120px 50px 120px 45px;
  color: var(--color-font);
  font-size: 16px;

  & h1 {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 24px;

    @include tablet {
      font-size: 50px;
      line-height: 65px;
    }
  }
  & p {
    line-height: 28px;
    margin-bottom: 1rem;
  }

  @include desktop {
    padding: 120px 0;
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    * {
      grid-column: 10 / span 13;
    }
  }
}

.switch_wraper {
  margin-top: 48px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.white_page {
  padding: 105px 50px 250px 45px;

  & h1 {
    color: $primary-purple;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 48px;

    @include tablet {
      font-size: 50px;
      line-height: 65px;
    }
  }

  & h2 {
    color: $primary-purple;
    margin-bottom: 16px;
    font-size: 20px;

    @include tablet {
      font-size: 34px;
      margin-bottom: 24px;
      line-height: 42px;
    }
  }

  & p {
    font-size: 16px;
    line-height: 28px;
  }

  @include desktop {
    padding: 120px 0;
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    * {
      grid-column: 10 / span 13;
    }
  }
}
