@import "~bulma/bulma";
@import "typography";
@import "~bulma/sass/utilities/mixins.sass";

@import url("https://fonts.googleapis.com/css2?family=Maitree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Maitree&display=swap");

// Lou&You colors

// $purple: #8b8bf4;
// $lilac: #a1bbff;
// $warm-black: #101223;
// $green: #68a005;
// $leaf: #9ebe38;
// $red: #bf1151;
// $yellow: #fceb30;
// $orange: #ed6b06;

:root {
  --size-font-paragraph: 18pt;
  --size-font-paragraph-desktop: 20px;

  --size-font-footer1: 16px;
  --size-font-footer2: 14px;
  --size-font-footer3: 12px;
  --size-font-footer4: 11px;

  --content-margin-top: 0;
  --border-color: none;
  --style-border: none;
  --color-font: white;
  --filter: brightness(0) invert(1);

  @include tablet {
    --size-font-footer1: 18px;
    --size-font-footer2: 16px;
    --size-font-footer3: 14px;
    --size-font-footer4: 13px;
  }
}

html,
body {
  font-family: "Maitree", serif;
  padding: 0;
  margin: 0;
  font-size: var(--size-font-paragraph);
  background: white;
  color: #101223;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include tablet {
    font-size: var(--size-font-paragraph-desktop);
  }
}

* {
  box-sizing: border-box;
}
