@import "~bulma/bulma";
@import "typography";

// Lou&You colors

// $purple: #8b8bf4;
// $lilac: #a1bbff;
// $warm-black: #101223;
// $green: #68a005;
// $leaf: #9ebe38;
// $red: #bf1151;
// $yellow: #fceb30;
// $orange: #ed6b06;

:root {
  --size-font-paragraph: 17px;
  --size-font-paragraph-title: 18px;
  --border-color: none;
  --style-border: none;
  --color-font: white;
}

html,
body {
  font-family: "Maitree", serif;
  padding: 0;
  margin: 0;
  font-size: var(--size-font-paragraph);
  background: white;
}

* {
  box-sizing: border-box;
}

span,
label,
input,
textarea,
button,
select,
p,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
