$content-heading-color: "";

@import "~bulma/bulma";
@import "typography";
@import "fonts";
@import "~bulma/sass/utilities/mixins.sass";

:root {
  --size-font-paragraph-content: 1rem;
  --size-font-paragraph-headline: 1.125rem;
  --size-font-subheadline: 1.25rem;

  --size-font-footer1: 15px;
  --size-font-footer2: 14px;
  --size-font-footer3: 12px;
  --size-font-footer4: 11px;

  --content-margin-top: 0;
  --border-color: none;
  --style-border: none;
  --color-font: white;
  --filter: brightness(0) invert(1);

  @include tablet {
    --size-font-footer1: 18px;
    --size-font-footer2: 16px;
    --size-font-footer3: 14px;
    --size-font-footer4: 13px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Avenir", serif;
  padding: 0;
  line-height: 30px;
  margin: 0;
  font-size: var(--size-font-paragraph-content);
  background: url("../public/gradients/gradient_main.jpg");
  background-size: cover;

  color: #101223;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Avenir", serif !important;
  font-size: 16px;
}

.hamburger-react:focus {
  outline: none;
}

section,
main {
  position: relative;
}
